.product-section{
  margin-top: 20px;
}
.product-search{
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px;
    margin: auto;
}
.product-search input{
    border: none;
    width: 100%;
    background-color: transparent;
    font-size: medium;
    letter-spacing: 1.5px;
}
.product-search button{
    border-radius: 100%;
    font-size:large;
    border: none;

}

.product-search input:focus{
    outline: none;
}
 .products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .product-box{
    text-align: center;
    flex-basis: 20%;
 }
 .product-box img{
    border-radius:5px;
 }